@model TrashCollector.Models.TrashPickup

@{
    ViewData["Title"] = "Details: Customer Pickup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details Customer Trash Pickup</h1>

<div>
    <h4>TrashPickup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickupType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickupType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraPickupDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraPickupDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartSuspendDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartSuspendDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndSuspendDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndSuspendDate)
        </dd>
        <!--
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Completed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Completed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeId)
        </dd>
        -->
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrashPickupId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
