@model IEnumerable<TrashCollector.Models.DailyPickup>

@{
    ViewData["Title"] = "Employee: Trash Pickups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Trash Pickups</h1>

<p>
    <a asp-action="Create">Change Day</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.ZipCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.ZipCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
